body {background-color:#D1EEFD; text-align:center}
h1 {background-color:#D1EEFD;text-align:left;color:#D37DE4; font-weight:bold}
p { background-color:#B5DEF3; text-align:center;color:#E9B5F3; font-style:italic}
